@using Paylocity.Web.Models.Enums
@model Paylocity.Web.Logic.Configuration.Create.CreateBenefitAssessmentConfiguration

@{
    Layout = "~/Views/AdminLTE/_Layout.cshtml";
    ViewData["Title"] = "Create Benefit Assessment Configuration";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>CreateBenefitAssessmentConfiguration</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StartOfYear" class="control-label"></label>
                    <input asp-for="StartOfYear" class="form-control" />
                    <span asp-validation-for="StartOfYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfPayPeriodsPerYear" class="control-label"></label>
                    @Html.EditorFor(lf=> Model.NumberOfPayPeriodsPerYear,  new { htmlAttributes = new { @type = "number", @min = "1", @step = "0.01", @value = "1" }})
                    <span asp-validation-for="NumberOfPayPeriodsPerYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PerPayPeriodSalary" class="control-label"></label>
                    <input asp-for="PerPayPeriodSalary" class="form-control" />
                    <span asp-validation-for="PerPayPeriodSalary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ActiveAsOfDate" class="control-label"></label>
                    <input asp-for="ActiveAsOfDate" class="form-control" />
                    <span asp-validation-for="ActiveAsOfDate" class="text-danger"></span>
                </div>
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>PersonType</th>
                            <th>CostPerYear</th>
                            <th>HasNameBasedDiscount</th>
                            <th>NameDiscountMatchingType</th>
                            <th>DiscountPercentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.CreateBenefitAssessmentConfigurationPersonCosts)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(lf=> item.PersonType)</td>
                                    <td>@Html.EditorFor(lf=> item.CostPerYear,  new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @value = "0" }})</td>
                                    <td>@Html.EditorFor(lf=> item.HasNameBasedDiscount)</td>
                                    
                                    <td>@Html.DropDownListFor(lf=> item.NameDiscountMatchingType, Html.GetEnumSelectList<NameDiscountMatchingType>())</td>

                                    <td>@Html.EditorFor(lf=> item.DiscountPercentage,  new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @value = "0", @max="100" }})</td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
